node_modules
package-lock.json
build
src/localize/generated.ts
!script/build
ai_facial_recognition/*.js
ai_facial_recognition/*.json
ai_facial_recognition/*.js.gz
!ai_facial_recognition/*.py

yarn-error.log